@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

.cl-internal-b3fm6y {
  display: none !important;
}

* {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 700 !important;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #4bb543;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
/* For WebKit browsers */
::-webkit-scrollbar {
  height: 10px; /* Adjust height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

/* For Firefox */
::-moz-scrollbar {
  height: 10px; /* Adjust height for horizontal scrollbar */
}

::-moz-scrollbar-thumb {
  background-color: darkgray;
}

/* For Internet Explorer/Edge */
::-ms-scrollbar {
  height: 10px; /* Adjust height for horizontal scrollbar */
}

::-ms-scrollbar-thumb {
  background-color: darkgray;
}
.cl-userButtonPopoverFooter {
  display: none !important;
}

.cl-internal-wkkub3 {
  display: none !important;
}

/* For other browsers */
scrollbar-height: thin;
scrollbar-color: darkgray darkgray;
